@model HomeIndexViewModel

@{ @*Ajaxiçin*@
var ajaxOptions = new AjaxOptions()
{
    UpdateTargetId = "d_messages",
    InsertionMode = InsertionMode.Replace,

};
}

<div class="row" style="padding-top: 20px;">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            @foreach (var user in Model.Users)
            {
                <li>
                    @*<table style="width: 100%;">
                        <tr>
                            <td style="width: 15%;">
                                <span class="badge badge-light">@user.MessageCount</span>
                            </td>
                            <td >
                                @Ajax.ActionLink(user.UserName, "Messages", "Home", new { id = user.UserId }, ajaxOptions)
                            </td>
                        </tr>
                    </table>*@
                     @*<span class="badge badge-light">@user.MessageCount</span>*@
                    @*@Ajax.ActionLink(user.UserName, "Messages", "Home", new { id = user.UserId }, ajaxOptions)*@
                    <a data-ajax="true" class="a_user" data-ajax-mode="replace" data-ajax-update="#d_messages" href="/Home/Messages/@user.UserId"><span class="badge badge-light">@user.MessageCount</span>&nbsp;&nbsp;@user.UserName</a>
                </li>
            }
        </ul>
    </div>
    <div class="col-md-9" id="d_messages">
        @Html.Partial("_Messages", Model)
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".a_user").off('click');
            $(".a_user").on('click', function () {
                //console.log($(this).parent());
                var li = $(this).parent();
                var ul = li.parent();
                //console.log(ul.children());

                // active i kapatmanın 3 yolu

                //$.each(ul.children(), function (i, item) { //ilk yöntem
                //    //console.log(item);
                //    item.className = '';
                //});

                //ul.children().each(function () { // ikinci yöntem
                //    $(this).removeClass('active');
                //});

                ul.find('li.active').removeClass('active'); // 3. yöntem

                li.addClass('active');
            });
        });
    </script>
}